* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    min-height: 100%;
    background: #050505;
    color: #ffffff;
    font-family: Georgia, serif;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100dvh;
    min-height: 100dvh;
}

.scene {
    position: relative;
    width: 100%;
    height: 100dvh;
    min-height: 100dvh;
    overflow: hidden;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background:
        radial-gradient(
            circle at center,
            #151515 0%,
            #070707 45%,
            #000000 100%
        );
         touch-action: none;
}

/* The interactive light */

#light {
    position: absolute;

    width: 22px;
    height: 22px;

    border-radius: 50%;

    background: white;

    box-shadow:
        0 0 15px rgba(255,255,255,0.8),
        0 0 45px rgba(255,255,255,0.35);

    transform: translate(-50%, -50%);

    pointer-events: none;

    transition:
    width 0.35s ease,
    height 0.35s ease,
    box-shadow 0.35s ease;

    left: 50%;
    top: 45%;
}

.intro-content {
    position: relative;
    z-index: 2;

    text-align: center;

    pointer-events: none;
}

.hint {
    font-family: Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.25em;
    text-transform: uppercase;

    opacity: 0.55;

    margin-bottom: 35px;
}

h1 {
    font-size: clamp(42px, 14vw, 90px);
    font-weight: 400;
    letter-spacing: -0.04em;
}

.subtext {
    margin-top: 18px;

    font-family: Arial, sans-serif;
    font-size: 14px;

    opacity: 0.45;
}
#light {
    transition:
        width 0.25s ease,
        height 0.25s ease,
        box-shadow 0.25s ease;
}

#light.active {
    width: 45px;
    height: 45px;

    box-shadow:
        0 0 25px rgba(255,255,255,0.95),
        0 0 70px rgba(255,255,255,0.55),
        0 0 140px rgba(255,255,255,0.25);
}
#particleCanvas {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    z-index: 1;
}

#light {
    z-index: 3;
}

.intro-content {
    z-index: 4;
}